<a href="https://colab.research.google.com/github/Noobs-in-Devhack/AI---ML-/blob/main/Python_27_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Basic Syntax

In [ ]:
# This is syntax for python comment

In [ ]:
"""
This is python syntax for paragraph.
This can also used as multi-line comment.
"""
print("Hello World")    # prints value or outcome of variable

Hello World

In [ ]:
# Identifiers : names of Variables, Classes, Functions etc.
var_1 = 10     # valid variable name to declare integers.

In [ ]:
print(type(var_1))    # type() : Returns data type of variable

<class 'int'>

In [ ]:
1var = 100           # Identifiers/variable name should not begin with numerical value

SyntaxError: invalid decimal literal (<ipython-input-5-5a388c5d8170>, line 1)

In [ ]:
@var1 = 100

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-7-fb81ee1efb4b>, line 1)

In [ ]:
var_1 = 12345678

In [ ]:
_var = 12345678

#### Keywords:
    * Reserved Words in Python Programming.

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
len(keyword.kwlist)   # len() - length function - build-in function that returns size of variable.

35

#### Primitive Data Types
* Interger
* Float
* Strings
* Boolean
* Complex

In [ ]:
intvar = 1000                             # Interger Data type
floatvar = 12.568765                      # Float Data type
strvar = 'This is string data type'       # String data type
strvar1 = "This is also string data type"
boolvar = True                            # Boolean Data type
boolvar1 = False
compvar = 34 + 67j                        # Complex data types (real + imaginary)

In [ ]:
print(intvar)
print(type(intvar))
print(strvar)
print(type(strvar))
print(floatvar)
print(type(floatvar))
print(boolvar)
print(type(boolvar))

1000
<class 'int'>
This is string data type
<class 'str'>
12.568765
<class 'float'>
True
<class 'bool'>

#### Data Structure
  * Collection of Data.

1. Lists
  * Lists are mutable collection of heterogenous data types.
  * Lists are declared within [ ] or list().
  * List can also have duplicate values.

In [ ]:
# Empty List Declaration
list_1 = []

In [ ]:
list_1 = [True, 'ABCD', 12345678, 'This is List Data', True, False, 123456.89]
print(list_1)

[True, 'ABCD', 12345678, 'This is List Data', True, False, 123456.89]

In [ ]:
print(type(list_1))

<class 'list'>

  * List Methods

In [ ]:
list_1.append(98765.12)    # New value will be inserted in the end of list - append()

In [ ]:
list_2 = list_1.copy()     # copy the values from list_1 to list_2

In [ ]:
list_3 = list_1            # copy by reference = Deep Copy.

In [ ]:
list_1.append('New Value')

In [ ]:
print(list_1)
print(list_2)
print(list_3)

[True, 'ABCD', 12345678, 'This is List Data', True, False, 123456.89, 98765.12, 'New Value']
[True, 'ABCD', 12345678, 'This is List Data', True, False, 123456.89, 98765.12]
[True, 'ABCD', 12345678, 'This is List Data', True, False, 123456.89, 98765.12, 'New Value']

In [ ]:
# extend method - update list with multiple values.
list_1.extend([112233, True, 23+56j])      # Insert multiple values in the end of list

In [ ]:
print(list_1)

[True, 'ABCD', 12345678, 'This is List Data', True, False, 123456.89, 98765.12, 'New Value', 112233, True, (23+56j)]

In [ ]:
list_1.insert(3, 'Python')

In [ ]:
list_1.pop()      # It removes last value from list.

(23+56j)

In [ ]:
list_1.pop(4)     # Value at Index 4 will be removed.

'This is List Data'

In [ ]:
list_1.remove('New Value')    # Removes value by value

In [ ]:
list_1.index(123456.89)

6

In [ ]:
list_1.reverse()
print(list_1)

[True, 112233, 98765.12, 123456.89, False, True, 'Python', 12345678, 'ABCD', True]

In [ ]:
list_1

[True,
 112233,
 98765.12,
 123456.89,
 False,
 True,
 'Python',
 12345678,
 'ABCD',
 True]

#### Tuples
    * Tuples are immutable collection of hetegenous data types.
    * Tuples are declared within () or using tuple()
    * Iterating over Tuple values are faster comapred to iterating over list.

In [ ]:
# Empty Tuple
tuple_1 = ()

In [ ]:
tuple_1 = (10, 203, 4537, 56544.123, 88.01)
print(tuple_1)

(10, 203, 4537, 56544.123, 88.01)

In [ ]:
tuple_2 = ('Tom', 32.6755, True, False, 'Jerry', 10110, 34+67j)
tuple_3 = ([1020304050,'Harry','Mickey'],45.7891,True,('New York','Venice'))

In [ ]:
tuple_2.count(True)   # count() returns occurances of tuple value.

1

In [ ]:
tuple_2.index(True)   # index returns index position

2

In [ ]:
# Concatination
tuple_4 = tuple_2 + tuple_3

In [ ]:
print(tuple_4)

('Tom', 32.6755, True, False, 'Jerry', 10110, (34+67j), [1020304050, 'Harry', 'Mickey'], 45.7891, True, ('New York', 'Venice'))

#### Dictionary
    * It is mutable collection of data types in Python
    * A python dictionary is collection of key and value pair seperated by ":" and enclosed in curly braces {}.
    * Keys must be unique in dictionary and values can be duplicate.

In [ ]:
dict_1 = {}     # Declare empty dictionary.

In [ ]:
dict_1 = {'Name':'Subhendu', 'Gender':'Male', 'DOB':2000, 'Job':'Data Analyst'}
print(dict_1)

{'Name': 'Subhendu', 'Gender': 'Male', 'DOB': 2000, 'Job': 'Data Analyst'}

In [ ]:
dict_1['Name']   # Access individual value using key.

'Subhendu'

In [ ]:
# Insert a new key.
dict_1['City'] = 'Bangalore'

In [ ]:
# Update existing key with values.
dict_1['City'] = ['Bangalore', 'Delhi', 'Mumbai']

In [ ]:
# Nested Dict
my_emp = {'Ex1001':{'Name':'Subhendu', 'Gender':'Male', 'DOB':2000, 'Job':'Data Analyst'},
          'Ex1002':{'Name':'Aryan', 'Gender':'Male', 'DOB':2001, 'Job':'HR'},
          'Ex1003':{'Name':'Pradip', 'Gender':'Male', 'DOB':1999, 'Job':'Associate'}
          }

In [ ]:
my_emp['Ex1002']

{'Name': 'Aryan', 'Gender': 'Male', 'DOB': 2001, 'Job': 'HR'}

In [ ]:
my_emp['Ex1002']['Job']

'HR'

In [ ]:
dict_1.items()     # returns tuple of list, here tuple is (key,value)

dict_items([('Name', 'Subhendu'), ('Gender', 'Male'), ('DOB', 2000), ('Job', 'Data Analyst'), ('City', ['Bangalore', 'Delhi', 'Mumbai'])])

In [ ]:
dict_1.keys()

dict_keys(['Name', 'Gender', 'DOB', 'Job', 'City'])

In [ ]:
dict_1.values()

dict_values(['Subhendu', 'Male', 2000, 'Data Analyst', ['Bangalore', 'Delhi', 'Mumbai']])

In [ ]:
dict_1.update({'Contact':'+91-9876543210','Marital Status':'Married'})

In [ ]:
print(dict_1)

{'Name': 'Subhendu', 'Gender': 'Male', 'DOB': 2000, 'Job': 'Data Analyst', 'City': ['Bangalore', 'Delhi', 'Mumbai'], 'Contact': '+91-9876543210', 'Marital Status': 'Married'}

#### Sets
    * Sets are unique collection of elements. No duplicate values are allowed.
    * Sets are unordered collection.
    * Sets doesn't have any indexes, hence position will be not fixed.

In [ ]:
myset = set()      # Empty Sets

In [ ]:
myset = {10, 20, 30, 40, 50, 60, 70, 80}
print(myset)

{70, 40, 10, 80, 50, 20, 60, 30}

In [ ]:
myset1 = {'A','B','C','D','E','F'}
myset2 = {'G','H','I','K','D','E','L'}
myset3 = {'L','M','O','P','Q','F','E'}

In [ ]:
myset1.add('P')   # Insert new value

In [ ]:
myset1.union(myset2)    # concatination between two sets.

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'P'}

In [ ]:
myset1.union(myset2, myset3)    # union between all three sets.

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'O', 'P', 'Q'}

In [ ]:
myset1.intersection(myset2)   # insersection between two sets - common values between both

{'D', 'E'}

In [ ]:
myset1 & myset2     # Intersection

{'D', 'E'}

In [ ]:
myset1 | myset2    # Union

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'P'}

In [ ]:
myset1 - myset2

{'A', 'B', 'C', 'F', 'P'}

In [ ]:
myset1.difference(myset2)

{'A', 'B', 'C', 'F', 'P'}

In [ ]:
myset2.difference(myset1)

{'G', 'H', 'I', 'K', 'L'}

In [ ]:
myset2.pop()

'I'

#### Arithematic Operations

In [ ]:
a = 27
b = 10
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)      # Floor Division
print(a % b)       # Remainder

37
17
270
2.7
2
7

#### Comaprison Operations

In [ ]:
# Return Boolean Output by compairing two values
a = 27
b = 10
print(a == b)
print(a >= b)
print(a <= b)
print(a > b)
print(a < b)
print(a != b)

False
True
False
True
False
True

#### Indexing & Slicing of Lists & Tuples

In [ ]:
list_1 = [True, 'ABCD', 12345678, 'This is List Data', True, False, 123456.89]
list_1[2]    # Indexing

12345678

In [ ]:
list_1[-1]    # Indexing

123456.89

In [ ]:
tuple_1 = (True, 'ABCD', 12345678, 'This is List Data', True, False, 123456.89)
print(tuple_1[5])
print(tuple_1[-1])

False
123456.89

In [ ]:
tuple_1 = (True, 'ABCD', 12345678, 'This is List Data', True, False, 123456.89)
tuple_1[1:5]

('ABCD', 12345678, 'This is List Data', True)

In [ ]:
list_1 = [True, 'ABCD', 12345678, 'This is List Data', True, False, 123456.89]
list_1[2:6]

[12345678, 'This is List Data', True, False]

##### Control Flow

In [ ]:
num = 14
if num < 15:
    print("Number is less than value 15.")

# Default Statement
print("Outside if block.")

Number is less than value 15.
Outside if block.

In [ ]:
# if .. elif(else if) ... else
age = int(input("Enter the Age: "))
if age < 18:
    print("Teenager")
elif age >= 18 and age <= 30:
    print("Young")
elif age >= 31 and age <= 55:
    print("Middle Aged")
else:
    print("Old")

Enter the Age: 35
Middle Aged

#### For & While Loops

In [ ]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Initialize a variable
total_sum = 0

# Use for loop to iterate over list and calculate sum
for number in num:
    total_sum += number

print("Total Sum: ", total_sum)

Total Sum:  45

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9]

add_num = 0
index = 0
while index < len(mylist):
    add_num += mylist[index]
    # update
    index += 1
print("Sum of array {} is : {}".format(mylist, add_num))

Sum of array [1, 2, 3, 4, 5, 6, 7, 8, 9] is : 45

#### range(start, stop, step_size)

In [ ]:
# start value = 1, end value = 19
for element in range(1, 20):
    print(element)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
person = {'Name': 'Subhendu', 'Gender': 'Male', 'DOB': 2000, 'Job': 'Data Analyst', 'Contact': '+91-9876543210', 'Marital Status': 'Married'}
# Use a for loop to iterate over the dictionary and print keys and values
for key, value in person.items():
    print("Key:", key, ", Value:", value)

Key: Name , Value: Subhendu
Key: Gender , Value: Male
Key: DOB , Value: 2000
Key: Job , Value: Data Analyst
Key: Contact , Value: +91-9876543210
Key: Marital Status , Value: Married

#### Functions
    * In programming, we define a function to make resuable code that performs similar tasks.
    * It is a block of organised code written to carry out a specified task.

In [ ]:
# User Declared Function
def my_function():
    print("Hello Python Users !!")

In [ ]:
# Call a function
my_function()

Hello Python Users !!

In [ ]:
# Declare function with an argument
def greetings(name):
    statement = "Hello " + name + " Good Evening!"     # local variable
    return statement

In [ ]:
greetings("Deepak")

'Hello Deepak Good Evening!'

#### Lambda Function

In [ ]:
expression = lambda a, b : a + b

In [ ]:
expression(10, 5)   # This is lambda function

15

In [ ]:
# Define a list of tuples
list_t = [(1 , 'one'),(2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')]
# sort the list of tuples by second element using lambda function
# key = custom comparator function using lambda
sorted(list_t, key = lambda var : var[1])

[(5, 'five'), (4, 'four'), (1, 'one'), (6, 'six'), (3, 'three'), (2, 'two')]

In [ ]:
sorted(list_t, key = lambda var : var[1], reverse = True)

[(2, 'two'), (3, 'three'), (6, 'six'), (1, 'one'), (4, 'four'), (5, 'five')]